anyio==4.12.1
click==8.3.1
docutils==0.22.4
h11==0.16.0
idna==3.11
itsdangerous==2.2.0
jedi==0.19.2
loro==1.10.3
marimo==0.20.2
markdown==3.10.2
msgspec==0.20.0
narwhals==2.17.0
packaging==26.0
parso==0.8.6
polars==1.38.1
polars-runtime-32==1.38.1
psutil==7.2.2
pygments==2.19.2
pymdown-extensions==10.21
pyyaml==6.0.3
starlette==0.52.1
tomlkit==0.14.0
uvicorn==0.41.0
websockets==16.0
